<div class= "jumbotron center"> 
<h2>Welcome to RUBY WORLD</h2>
<p>I'm writing this page for the you, go click here to</p>
<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>