<div class= "jumbotron"> 
<h1>Welcome to RUBY WORLD</h1>
<p>I'm writing this page for the you, go click here to</p>
<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>